@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: var(--style-color-white);
  line-height: 1.4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.my-btn {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

@media (min-width: 768px) {
  .section-container {
    padding: 0 1.5rem;
  }
}
