:root {
  --style-color-white: #fff;
  --style-color-off-white: #ebf0ee;
  --style-color-dark-blue: #172b4d;
  --style-color-aqua-green: #36b37e;
  --style-color-aqua-green-hover: #36b37f;
  --style-color-aqua-green-pressed: #008552;
  --style-color-aqua-green-textarea: #60c095;
  --style-color-off-black: #3a4a42;
  --style-color-light-gray: #d0d9d4;
  --style-color-tech-stack-gray: #c1c7d0;
}
