.my-navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--style-color-white);
  padding: 0.8rem;
  z-index: 10; /* ? do to 'go-down-btn' that has position absolute */
}

.my-navbar.toggle-mobile-menu ul {
  width: 100%;
  margin-top: 3rem;
}

.my-navbar li {
  margin: 0.5rem;
}

.my-navbar a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  color: var(--style-color-dark-blue);
  transition: all 0.1s ease-in-out;
}

.my-navbar a:hover {
  color: var(--style-color-aqua-green-hover);
  border-bottom: 2px solid var(--style-color-aqua-green-hover);
  padding-bottom: 0.3rem;
}
