@media (min-width: 768px) {
  #contact-section {
    background-image: url("../../../media/sections-illustrations/desktop-illustrations/illustration-contact-section-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 5rem;
  }

  .contact-section--wrapper {
    flex-direction: row;
    margin-top: 2.5rem;
    margin-bottom: 10rem;
  }

  .contact-section__intro {
    width: 70%;
    align-self: flex-start;
    font-size: 1.9rem;
    margin: 3rem 1.5rem 3rem 0;
    text-align: justify;
    line-height: inherit;
  }

  .contact-form {
    transition: all 0.5s ease-in-out;
  }

  .contact-form:hover {
    transform: translateX(0.8rem);
  }

  .contact-section__my-email {
    display: none;
  }
}

@media (min-width: 1730px) {
  #contact-section {
    background-size: cover;
  }
}
