@media (min-width: 768px) {
  .hero-section {
    justify-content: flex-start;
    background-image: url("../../../media/sections-illustrations/desktop-illustrations/llustration-header-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .hero-section__title--wrapper {
    display: flex;
    margin-top: 18rem;
  }

  .hero-section__title,
  .hero-section__subtitle {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.75rem;
  }

  .hero-section__intro {
    width: 58%;
  }
}

@media (max-height: 750px) {
  .hero-section {
    justify-content: flex-end;
  }

  .hero-section__title,
  .hero-section__subtitle {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
}

@media (max-height: 414px) {
  .hero-section__btn.go-down-btn,
  .animated-arrow-down {
    display: none;
    visibility: hidden;
  }
}
