@media (min-width: 768px) {
  .my-header {
    background-image: url("../../../media/sections-illustrations/desktop-illustrations/llustration-header-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .my-header__title--wrapper {
    display: flex;
  }
}
