@media (min-width: 768px) {
  .my-navbar {
    justify-content: center;
    background-color: transparent;
  }

  .my-navbar ul {
    display: flex;
    visibility: visible;
    gap: 1.5rem;
  }

  .open-my-navbar__btn {
    display: none;
    visibility: hidden;
  }
}
