.about-me__btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.06rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  border-radius: 0.25rem;
  background-color: var(--style-color-aqua-green);
  color: var(--style-color-white);
  padding: 0.75rem;
  margin: 1rem 0.5rem;
  transition: box-shadow 0.2s ease-in-out;
}

.about-me__btn:hover {
  background-color: var(--style-color-aqua-green-hover);
  box-shadow: 0 0.5rem 1rem rgba(54, 179, 127, 0.24);
}

.about-me__btn:active {
  background-color: var(--style-color-aqua-green-pressed);
}
