.my-navbar ul {
  animation: move-navbar 0.3s linear;
  animation-delay: 0.5s;
}

@keyframes move-navbar {
  0% {
    visibility: hidden;
  }

  50% {
    margin-top: 5rem;
  }

  100% {
    visibility: visible;
    margin-top: 0;
  }
}
