.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../media/sections-illustrations/mobile-illustrations/illsutration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.hero-section__title,
.hero-section__subtitle {
  font-size: 2.5rem;
}

.hero-section__title,
.hero-section__subtitle,
.hero-section__intro {
  font-family: 'Inter', sans-serif;
  margin: 0; /* ? resets -normalize- margin */
  margin: 0 0.5rem;
}

.hero-section__title,
.hero-section__intro {
  color: var(--style-color-dark-blue);
}

.hero-section__subtitle {
  color: var(--style-color-aqua-green);
}

.hero-section__intro {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem;
}

.hero-section__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section__link {
  padding: 0.5rem;
  padding-bottom: 0;
  transition: all 0.1s ease-in-out;
}

.hero-section__link:hover {
  border-bottom: 2px solid var(--style-color-aqua-green-hover);
  padding-bottom: 0.5rem;
}
